body {
	font-size: 25x;
}

.app-2 {
	text-align: center;
}

.new-block {
	padding-top: 30px;
}

.inline-block-elem {
	position: relative;
	display: inline-block;
    text-align: center;
	padding: 20px 5px;
}

.yellow-block {
	background-color: yellow;
}

.post-block {
	position: relative;
	border: 1px solid black;
	margin-bottom: 10px;
	width: 45%;
	display: inline-block;
	margin-left: 3%;
}