@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee|Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Mukta Mahee', sans-serif;
	font-weight: bold;
	background-color: #fff
}

input[type="text"], textarea {

	background-color : #fff; 
  
}
.app {
	position: relative;
	margin: 0 auto;
}

.title {
	width: 80%;
	text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 26px;
}

.input-city {
	position: relative;
	width: 100%;
	/* margin-top: 50px; */
	text-align: center;
	font-size: 20px;
}

.weather-info {
	width: 80%;
	text-align: center;
    position: relative;
    margin: 0 auto;
	margin-top: 50px;
	font-size: 16px;
}

.weather-info-main {
}

.weather-info-cases {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.weather-info-name {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
}

.weather-info-part {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}